body { background-color: green;}

.desk {
  margin: 0;
  max-width: 800px;
  padding: 4px;
  background-color: green;
  color: white
}

li { list-style-type: none; width: 55px; }
IMG { position: relative; }
.cards { text-align: center; }

/* trump + deck */
.bck-grnd { z-index: 0; position: relative; height: 50px;  left: 60px; }
#trump { transform: rotate(90deg); z-index: 2;}
#deck { left: -55px; z-index: 1;}
.dck { width: 1.5px; z-index: 3; }

/* Opponent hand */
.opponent { display: inline-flex; }
.opp { width: 22px; }

/* Cards on table */
.table { display: inline-flex; }
.start .firstComp .secondComp { width: 22px; }
.firstComp { left: -35px; top: 15px; }
.secondComp {   left: -35px; top: -15px; }


li.card { display: inline-flex; width: 90px; }
li.first { display: inline-flex; width: 22px; }

.card IMG { position: relative }
.chosen { top: -15px; }

.cardInHand { display: inline-flex; width: 22px; }
#sortCards { visibility: visible; }
.newGame { position: relative; float: right}
#deck {position: relative; right: 45px; text-align: left;}